{% extends "::base.html.twig" %}

{% block title %}User:list{% endblock %}

{% block body %}
    <h1>User:list page</h1>

    <ul>
        {% for user in users %}
            <li>
                {# @var user \Brd4\UserBundle\Entity\User #}
                <a href="{{ path('brd4_message_user_list', {'id': user.id}) }}">{{ user.username }}</a>

                <a href="{{ path('brd4_user_follow', {'id': user.id}) }}">follow</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
